<a target="_blank" href="https://twitter.com/{{ include.riaz.twitter }}">

<div class="square-image"><img src="{% include relative-src.html src=include.riaz.image_path %}" alt="{{ include.riaz.name }}"/></div>

<div class="details">

<div class="name">{{ include.riaz.name }}</div>

<div class="position">{{ include.riaz.position }}</div>

</div>

</a>


<a target="_blank" href="https://twitter.com/{{ include.faizal.twitter }}">

<div class="square-image"><img src="{% include relative-src.html src=include.faizal.image_path %}" alt="{{ include.faizal.name }}"/></div>

<div class="details">

<div class="name">{{ include.faizal.name }}</div>

<div class="position">{{ include.faizal.position }}</div>

</div>

</a>




